<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gruppe1.pem.challengeme" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.TabsFragmentActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".views.TabsFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.TabsFragmentActivity" />
        </activity>
        <activity
            android:name=".views.NewCompareActivity"
            android:label="@string/title_activity_saved_compares"
            android:parentActivityName=".views.TabsFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.TabsFragmentActivity" />
        </activity>
        <activity
            android:name=".views.SavedComparesDetailActivity"
            android:label="@string/title_activity_saved_compares_detail"
            android:parentActivityName=".views.NewCompareActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.NewCompareActivity" />
        </activity>
        <activity
            android:name=".views.NewItemActivity"
            android:label="@string/title_activity_new_item"
            android:parentActivityName=".views.TabsFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.TabsFragmentActivity" />
        </activity>
        <activity
            android:name=".views.NewCategoryActivity"
            android:label="@string/title_activity_new_category"
            android:parentActivityName=".views.TabsFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.TabsFragmentActivity" />
        </activity>
        <activity
            android:name=".views.ItemsListActivity"
            android:label="@string/title_activity_items_list"
            android:parentActivityName=".views.TabsFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.TabsFragmentActivity" />
        </activity>
    </application>

</manifest>
