<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gruppe1.pem.challengeme" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TabsFragmentActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".TabsFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gruppe1.pem.challengeme.TabsFragmentActivity" />
        </activity>
        <activity
            android:name=".SavedComparesActivity"
            android:label="@string/title_activity_saved_compares"
            android:parentActivityName=".TabsFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gruppe1.pem.challengeme.TabsFragmentActivity" />
        </activity>
        <activity
            android:name=".SavedComparesDetailActivity"
            android:label="@string/title_activity_saved_compares_detail"
            android:parentActivityName=".SavedComparesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gruppe1.pem.challengeme.SavedComparesActivity" />
        </activity>
        <activity
            android:name=".NewItemActivity"
            android:label="@string/title_activity_new_item"
            android:parentActivityName=".TabsFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gruppe1.pem.challengeme.TabsFragmentActivity" />
        </activity>
        <activity
            android:name=".NewCategoryActivity"
            android:label="@string/title_activity_new_category"
            android:parentActivityName=".TabsFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gruppe1.pem.challengeme.TabsFragmentActivity" />
        </activity>
        <activity
            android:name=".ItemsListActivity"
            android:label="@string/title_activity_items_list"
            android:parentActivityName=".TabsFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gruppe1.pem.challengeme.TabsFragmentActivity" />
        </activity>
        <activity
            android:name=".CategoriesItemDetailActivity"
            android:label="@string/title_activity_categories_item_detail"
            android:parentActivityName=".ItemsListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gruppe1.pem.challengeme.ItemsListActivity" />
        </activity>
    </application>

</manifest>
